/.DS_Store
/.claude
/.vscode
/15_MoveSpritewithPlayfieldBoundaries.bas
/16_MoveSpritewithEnemySpriteFollowing.bas
/1_DrawSprite.26b
/2_AddPlayfield.26b
/3_MoveASprite.bas
/4_FireAMissile.bas
/5_AnimateASprite.bas
/9_DetectCollisions.bas
/bin
/determine_4x4_missile_screen_resolution.26b
/ex_sprite_with_collision_prevention.bas
/ex_sprite_with_collision_prevention_and_pfrowheight7.bas
/hello2600.26b
/missile_player_demo.bas
/missile_playfield.26b
/notes.txt
/test.26b
/z_bb_mini_ex_score_123456.bas